:root {
    /* Color theme */
    --ct-darker: #2d2d2d;
    --ct-dark: #3d3d3d;
    --ct-grey: #535353;
    --ct-numix: #d64937;
    --ct-blue: #379cd6;
    --ct-green: #5cd637;
    --ct-light: #dcdcdc;
    --ct-white: #ffffff;
    /* Color theme (filter) for SVG images */
    --filter-darker: invert(11%) sepia(0%) saturate(0%) hue-rotate(217deg)
        brightness(102%) contrast(84%);
    --filter-dark: invert(15%) sepia(0%) saturate(1327%) hue-rotate(271deg)
        brightness(101%) contrast(74%);
    --filter-grey: invert(32%) sepia(0%) saturate(0%) hue-rotate(320deg)
        brightness(95%) contrast(89%);
    --filter-numix: invert(34%) sepia(22%) saturate(6773%) hue-rotate(345deg)
        brightness(92%) contrast(80%);
    --filter-light: invert(99%) sepia(0%) saturate(4028%) hue-rotate(193deg)
        brightness(123%) contrast(73%);
    --filter-white: invert(93%) sepia(100%) saturate(0%) hue-rotate(37deg)
        brightness(105%) contrast(102%);

    /* Elements height */
    --navbar-h: 3.8rem;
    --side-panel-length: 15rem;
    --content-h: calc(
        100vh - var(--navbar-h) - var(--footer-h) - var(--side-panel-length)
    );
    --footer-h: 3rem;

    /* Font size */
    --logo-fs: 1.3rem;
    --navbar-fs: 1rem;
    --header-fs: 1.8rem;
    --subheader-fs: 1.4rem;
    --subheader-sm-fs: 1.3rem;
    --content-fs: 0.9rem;

    --taskRow-h: 4rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: var(--ct-darker);
}

body {
    background-color: var(--ct-grey);
    display: grid;
    grid-template:
        var(--navbar-h) var(--side-panel-length) var(--content-h) var(
            --footer-h
        )
        / 1fr;
    grid-template-areas:
        "navbar"
        "side-panel"
        "main-content"
        "footer";
}

.hidden {
    grid-template-areas:
        "navbar"
        "main-content"
        "main-content"
        "footer";
}

/* --------------------- Nav bar -------------------- */
nav {
    grid-area: navbar;
    background-color: var(--ct-darker);
    font-size: var(--navbar-fs);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.title-container {
    width: fit-content;
    height: 90%;
    display: flex;
    align-items: center;
}

.logo {
    width: var(--logo-fs);
    margin-right: 1rem;
    filter: var(--filter-light);
}

.logo:hover {
    cursor: pointer;
    filter: var(--filter-numix);
}

.app-name {
    display: none;
    color: var(--ct-light);
    font-family: cursive, sans-serif;
    font-style: italic;
    font-size: var(--header-fs);
    padding-top: 10px;
}

.btn-icon-label {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0rem;
    padding: 0.5rem;
    font-size: 0; /*0px to hide the label*/
    border-radius: 30px;
    border: 0 none;
    background-color: var(--ct-light);
    text-transform: capitalize;
}

.btn-icon-label > img {
    width: var(--header-fs);
    filter: var(--filter-darker);
}

.btn-icon-label:hover {
    cursor: pointer;
    background-color: var(--ct-numix);
}

#sp_g_home {
    margin-top: 2rem;
}

#sp_g_anytime {
    margin-bottom: 2rem;
}

/* --------------------- Side panel -------------------- */
.side-panel {
    grid-area: side-panel;
    background-color: var(--ct-grey);
    padding: 1rem;
    overflow: auto;
    animation: slideDown 0.5s;
}

.side-panel-hidden {
    display: none;
}

.side-panel > h1 {
    color: var(--ct-light);
}

.sp-group {
    height: var(--header-fs);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding-left: 0.5rem;
}

.sp-group:hover {
    cursor: pointer;
    background-color: var(--ct-dark);
    border: 0px solid var(--ct-dark);
    border-radius: 10px;
}

.sp-group > .sp-g-icon {
    width: var(--subheader-fs);
    filter: var(--filter-light);
}

.sp-group > .sp-g-label {
    text-transform: capitalize;
    color: var(--ct-light);
}

.popup {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: var(--ct-darker);
    border-radius: 10px;
    width: min(100%, 18rem);
    display: none;
}

.popup-unhidden {
    display: block !important;
    animation: scaleX 0.5s;
}

.popup-title {
    color: var(--ct-light);
    font-size: var(--navbar-fs);
    width: 100%;
    text-align: center;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.form-container > input, .form-container > select {
    width: 100%;
    font-size: var(--content-fs);
}

.form-container > .btn-form {
    width: 47%;
    font-size: var(--content-fs);
}

.form-container > .btn-form:hover {
    cursor: pointer;
    background-color: var(--ct-green);
    border: 2px solid var(--ct-green);
    border-radius: 5px;
}
.form-container > .cancel:hover {
    background-color: var(--ct-numix);
    border: 2px solid var(--ct-numix);
}

.list-box {
    display: grid;
    grid-template: 1fr / 1fr var(--subheader-sm-fs) var(--subheader-sm-fs);
}

.btn-edit-list, .btn-delete-list {
    background-color: var(--ct-light);
    filter: var(--filter-light);
    border: 0 none;
    border-radius: 50%;
    width: var(--subheader-sm-fs);
    height: var(--subheader-sm-fs);
    justify-self: center;
    align-self: center;
}

.btn-edit-list {
    margin-right: 3px;
}

.btn-edit-list:hover, .btn-delete-list:hover {
    cursor: pointer;
    border-radius: 100%;
}

.btn-edit-list:hover {
    background-color: var(--ct-blue);
    filter: unset;
}

.btn-delete-list:hover {
    background-color: var(--ct-numix);
    filter: unset;
}

/* --------------------- main panel -------------------- */
.main-content {
    grid-area: main-content;
    background-color: var(--ct-light);
    padding: 1rem;
    display: grid;
    grid-template: 4rem 1fr / 1fr;
    grid-template-areas:
        "parent-list-name"
        "tasks-grid";
}

.popup-task {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
    padding: 0.5rem;
    background-color: var(--ct-darker);
    border-radius: 10px;
    width: min(100%, 18rem);
    display: none;
}

.popup-title {
    color: var(--ct-light);
    grid-area: parent-list-name;
}

.popup-task > .form-container > label {
    color: var(--ct-light);
    width: 100%;
    text-align: left;
    margin-top: 0.5rem;
}

.popup-task > .form-container > input:nth-last-child(3) {
    margin-bottom: 1rem;
}

.tasks-section {
    grid-area: tasks-grid;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem; */
    overflow-y: auto;
}

.task-container {
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid var(--ct-grey);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    display: grid;
    grid-template: var(--taskRow-h) var(--taskRow-h) calc(var(--taskRow-h) * 2) / 4fr 1fr 1fr;
    grid-template-areas:
        "taskName taskEdit taskDelete"
        "taskDateAndParent taskDateAndParent taskDateAndParent"
        "taskDesc taskDesc taskDesc";
}

.task-name {
    grid-area: taskName;
    overflow: auto;
    font-size: var(--subheader-fs);
}

.task-desc {
    grid-area: taskDesc;
    overflow: auto;
}

.task-date-list-info {
    grid-area: taskDateAndParent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.btn-edit-task, .btn-delete-task {
    background-color: var(--ct-light);
    /* filter: var(--filter-darker); */
    border: 0 none;
    width: var(--header-fs);
    height: var(--header-fs);
    justify-self: center;
    align-self: center;
}

.btn-edit-task:hover, .btn-delete-task:hover {
    cursor: pointer;
    border-radius: 100%;
}

.btn-edit-task:hover {
    background-color: var(--ct-blue);
}

.btn-delete-task:hover {
    background-color: var(--ct-numix);
}

.btn-edit-task {
    grid-area: taskEdit;
}

.btn-delete-task {
    grid-area: taskDelete;
}

.task-controls {
    width: var(--subheader-fs)
}

/* --------------------- Footer -------------------- */
footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ct-darker);
}

footer > .github-contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.5rem;
    text-decoration: none;
}

footer > .github-contact-info > .footer-logo {
    width: var(--logo-fs);
    filter: var(--filter-numix);
}

footer > .github-contact-info > .github-user {
    font-size: var(--logo-fs);
    color: var(--ct-light);
}

footer > .github-contact-info > .github-user:hover {
    color: var(--ct-numix);
}

/* //--------------------------------------------------------------// */
/* //--------------------------------------------------------------// */
/* //--------------------------------------------------------------// */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    :root {
        --logo-fs: 1.4rem;
        --navbar-fs: 1rem;
        --header-fs: 1.9rem;
        --subheader-fs: 1.5rem;
        --subheader-sm-fs: 1.4rem;
        --content-fs: 1rem;
    }

    .app-name {
        display: block;
    }

    .btn-icon-label {
        font-size: var(--navbar-fs);
        gap: 0.5rem;
        padding: 0.5rem 1rem 0.5rem 0.5rem;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    :root {
        --logo-fs: 1.5rem;
        --navbar-fs: 1.1rem;
        --header-fs: 2rem;
        --subheader-fs: 1.6rem;
        --subheader-sm-fs: 1.5rem;
        --content-fs: 1rem;

        /* Elements height */
        --side-panel-length: min(14rem, 40%);
        --content-h: calc(100vh - var(--navbar-h) - var(--footer-h));
    }

    body {
        grid-template:
            var(--navbar-h) var(--content-h) var(--footer-h) / var(
                --side-panel-length
            )
            1fr;
        grid-template-areas:
            "navbar navbar"
            "side-panel main-content"
            "footer footer";
    }

    .hidden {
        grid-template-areas:
            "navbar navbar"
            "main-content main-content"
            "footer footer";
    }

    .side-panel {
        animation: slideRight 0.5s;
    }

    .task-container {
        grid-template: var(--taskRow-h) var(--taskRow-h) / 2fr 3fr 1fr;
        grid-template-areas:
            "taskName taskDesc taskEdit"
            "taskDateAndParent taskDesc taskDelete";
    }

    .task-desc {
        padding-left: 1rem;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* ------------------------ Animations --------------------*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        transform: translate(0, -100%);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes slideRight {
    0% {
        transform: translate(-100%);
    }
    100% {
        transform: translate(0);
    }
}

@keyframes scaleX {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(100%);
    }
}
