:root {
    /* Color theme */
    --ct-numix: rgb(235, 54, 54);
    --ct-darker: rgb(23, 20, 20);
    --ct-dark: rgb(51, 11, 11);
    --ct-light: rgb(219, 179, 179);
    --ct-lighter: white;

    /* Elements height */
    --navbar-h: 3.8rem;
    --side-panel-length: 10rem;
    --content-h: calc(
        100vh - var(--navbar-h) - var(--footer-h) - var(--side-panel-length)
    );
    --footer-h: 3rem;

    /* Font size */
    --logo-fs: 1.3rem;
    --navbar-fs: 1rem;
    --header-fs: 1.8rem;
    --subheader-fs: 1.4rem;
    --subheader-sm-fs: 1.3rem;
    --content-fs: 0.9rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
    display: grid;
    grid-template:
        var(--navbar-h) var(--side-panel-length) var(--content-h) var(
            --footer-h
        )
        / 1fr;
    grid-template-areas:
        "navbar"
        "side-panel"
        "main-content"
        "footer";
}

.hidden {
    grid-template-areas:
        "navbar"
        "main-content"
        "main-content"
        "footer";
}

/* --------------------- Nav bar -------------------- */
nav {
    grid-area: navbar;
    background-color: var(--ct-light);
    color: var(--ct-darker);
    font-size: var(--navbar-fs);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.title-container {
    width: fit-content;
    height: 90%;
    display: flex;
    align-items: center;
}

.logo {
    width: var(--navbar-fs);
    margin-right: 1rem;
}

.logo:hover {
    cursor: pointer;
}

.app-name {
    display: none;
}

.add-btn {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0rem;
    padding: 0.5rem;
    font-size: 0;
    border-radius: 30px;
    border: 2px solid var(--ct-darker);
}

.add-btn > img {
    width: var(--header-fs);
}

.add-btn:hover {
    cursor: pointer;
    background-color: var(--ct-numix);
}

/* --------------------- Side panel -------------------- */
.side-panel {
    grid-area: side-panel;
}

.side-panel-hidden {
    display: none;
}

/* --------------------- main panel -------------------- */
.main-content {
    grid-area: main-content;
}

/* --------------------- Footer -------------------- */
footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ct-light);
}

footer > .github-contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--ct-darker);
}

footer > .github-contact-info:hover {
    color: var(--ct-numix);
}

footer > .github-contact-info > .footer-logo {
    width: var(--logo-fs);
}

footer > .github-contact-info > .github-user {
    font-size: var(--logo-fs);
}

/* //--------------------------------------------------------------// */
/* //--------------------------------------------------------------// */
/* //--------------------------------------------------------------// */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    :root {
        --logo-fs: 1.4rem;
        --navbar-fs: 1rem;
        --header-fs: 1.9rem;
        --subheader-fs: 1.5rem;
        --subheader-sm-fs: 1.4rem;
        --content-fs: 1rem;
    }

    .app-name {
        display: block;
    }

    .add-btn {
        font-size: var(--navbar-fs);
        gap: 0.5rem;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    :root {
        --logo-fs: 1.6rem;
        --navbar-fs: 1.1rem;
        --header-fs: 2rem;
        --subheader-fs: 1.6rem;
        --subheader-sm-fs: 1.5rem;
        --content-fs: 1rem;

        /* Elements height */
        --side-panel-length: min(20rem, 40%);
        --content-h: calc(100vh - var(--navbar-h) - var(--footer-h));
    }

    body {
        grid-template:
            var(--navbar-h) var(--content-h) var(--footer-h) / var(
                --side-panel-length
            )
            1fr;
        grid-template-areas:
            "navbar navbar"
            "side-panel main-content"
            "footer footer";
    }

    .hidden {
        grid-template-areas:
            "navbar navbar"
            "main-content main-content"
            "footer footer";
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
